<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Общие компоненты -->
    <include resource="logback/logback-appenders.xml"/>
    <include resource="logback/logback-loggers.xml"/>

    <!-- Профили -->
    <springProfile name="dev">
        <include resource="logback/logback-dev.xml"/>
    </springProfile>

    <springProfile name="int">
        <include resource="logback/logback-int.xml"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/logback-prod.xml"/>
    </springProfile>

</configuration>