<?xml version="1.0" encoding="UTF-8"?>
<included>

    <logger name="com.zhanlin.library_management_system"
            level="INFO"/>

    <logger name="AUDIT"
            level="INFO"
            additivity="false">

        <appender-ref ref="ASYNC_AUDIT"/>

    </logger>

    <root level="WARN">

        <appender-ref ref="ASYNC_JSON"/>

    </root>

</included>