<?xml version="1.0" encoding="UTF-8"?>
<included>

    <!-- Spring -->

    <logger name="org.springframework"
            level="WARN"/>

    <!-- Hibernate -->

    <logger name="org.hibernate"
            level="WARN"/>

    <!-- Tomcat -->

    <logger name="org.apache.catalina"
            level="WARN"/>

    <logger name="org.apache.coyote"
            level="WARN"/>

    <!-- Hikari -->

    <logger name="com.zaxxer.hikari"
            level="WARN"/>

    <!-- Наш код -->

    <logger name="com.zhanlin.library_management_system"
            level="DEBUG"/>

    <!-- Business Audit -->

    <logger name="AUDIT"
            level="INFO"
            additivity="false">

        <appender-ref ref="ASYNC_AUDIT"/>

    </logger>

</included>